includeConfig './configs/pipeline_input.config'
includeConfig './configs/dashboard.config'

process {
    withName: anndata_concat{
        conda = './conda_envs/nextflow.yaml'  
    }

    withName: createGuideRef{
        conda = './conda_envs/nextflow.yaml'   
    }

    withName: createHashingRef{
        conda = './conda_envs/nextflow.yaml'  
    }

    withName: seqSpecCheck {
        conda = './conda_envs/nextflow.yaml'    
    }

    withName: CreateMuData_HASHING{
        conda = './conda_envs/nextflow.yaml'   
    }

    withName: CreateMuData{
        conda = './conda_envs/nextflow.yaml'  
    }
    
    withName: demultiplex{
        conda = './conda_envs/nextflow.yaml'
    }

    withName: doublets_scrub_HASHING{
        conda = './conda_envs/nextflow.yaml'
    }

    withName: doublets_scrub{
        conda = './conda_envs/nextflow.yaml' 
    }

    withName: downloadReference{
        conda = './conda_envs/nextflow.yaml'    
    }

    withName: filter_hashing{
        conda = './conda_envs/nextflow.yaml'   
    }

    withName: guide_assignment_mudata{
        conda = './conda_envs/nextflow.yaml' 
    }

    withName: hashing_concat{
        conda = './conda_envs/nextflow.yaml'
    }

    withName: inference_mudata{
        conda = './conda_envs/nextflow.yaml' 
    }

    withName: mappingGuide{
        conda = './conda_envs/nextflow.yaml'
        cpus = 4
        memory = 64.GB  
    }

    withName: mappingHashing{
        conda = './conda_envs/nextflow.yaml'
        cpus = 4
        memory = 64.GB  
    }

    withName: mappingscRNA {
        conda = './conda_envs/nextflow.yaml'
        cpus = 4
        memory = 64.GB  
    }

    withName: prepare_covariate {
        conda = './conda_envs/nextflow.yaml'      
    }

    withName: prepare_guide_inference {
        conda = './conda_envs/nextflow.yaml'      
    }

    withName: prepare_user_guide_inference{
        conda = './conda_envs/nextflow.yaml'    
    }

    withName: prepare_all_guide_inference{
        conda = './conda_envs/nextflow.yaml'
    }

    withName: PreprocessAnnData{
        conda = './conda_envs/nextflow.yaml'    
    }

    withName: seqSpecParser{
        conda = './conda_envs/nextflow.yaml'  
    }

    withName:guide_assignment_cleanser{
        container = 'docker://sjiang9/cleanser_env:0.5'
        executor = 'local'
    }

    withName:prepare_covariate {
        conda = './conda_envs/nextflow.yaml'  
    }

    withName:guide_assignment_sceptre{
        container = 'docker://igvf/sceptre-igvf:v0.2'
        executor = 'local'
    }
    
    withName:inference_sceptre {
        container = 'docker://igvf/sceptre-igvf:v0.2'
        executor = 'local'
    }

    withName:inference_perturbo {
        container = 'docker://pinellolab/perturbo-cuda:0.1'
        executor = 'local'
    }

    withName:mergedResults {
        conda = './conda_envs/nextflow.yaml'
    }

}

singularity {
    enabled = true
    autoMounts = true 
    runOptions = '--nv'
}

conda {
    enabled = true
    useMamba = true
    createTimeout = '1h'
}
